.users-container {
  width: 100%;
  min-height: 80vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
.card-container {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.card {
    width: 300px;
    height: 100%;
    margin: 8px auto;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }

.card img {
    width: 250px;
    height: 250px;
    transition: all 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

.card-description {
display: flex;
align-items: flex-start;
flex-direction: column;
}

.users-container .btns {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.btn-add {
  padding: 20px 50px;
  font-size: 20px;
  position: relative;
  margin: 10px;
  background: #000;
  color: #fff;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.btn-add::hover {
  transform: translate(6px, 6px);
}

.btn-fil {
  padding: 20px 50px;
  font-size: 20px;
  position: relative;
  margin: 10px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

h1 {
  text-align: center;
}